{% macro title(component) -%}
<h1 class="component-title" data-component-id="{{ component.component_id }}">{{ component.text }}</h1>
{%- endmacro %}

{% macro key_message(component) -%}
<article class="component-key-message" data-component-id="{{ component.component_id }}"
         data-claim-id="{{ component.fact_binding.claim_id }}"><p>{{ component.text }}</p></article>
{%- endmacro %}

{% macro evidence_card(component) -%}
<article class="component-evidence" data-component-id="{{ component.component_id }}"
         data-claim-id="{{ component.fact_binding.claim_id }}">
  <h2>{{ component.heading }}</h2>
  <p>{{ component.body }}</p>
</article>
{%- endmacro %}
