{% import "components.html" as components %}
<section class="slide" data-slide-id="{{ slide.slide_id }}" data-layout="{{ slide.layout_token }}">
  <div class="slide__components">
    {% for component in slide.components %}
      {% if component.component_type == "title" %}
        {{ components.title(component) }}
      {% elif component.component_type == "key_message" %}
        {{ components.key_message(component) }}
      {% elif component.component_type == "evidence_card" %}
        {{ components.evidence_card(component) }}
      {% endif %}
    {% endfor %}
  </div>
</section>
